- @title = t('giving.batch.title')

.row
  .col-xs-12
    .box
      %table.table.table-hover
        %tr
          %th=t('giving.batch.fields.name')
          %th=t('giving.batch.fields.opening_date')
          %th=t('giving.batch.fields.amount')
          %th=t('giving.batch.fields.status.label')
          %th=t('giving.batch.fields.batch_type.label')
        %tr
          - @batches.each do |batch|
            %tr
              %td= link_to batch.name, batch_path(batch)
              %td= batch.opening_date.to_s(:date)
              %td= number_with_precision(batch.amount, precision: 2)
              %td= batch.status
              %td= batch.batch_type
              %td.actions
                = link_to batch_path(batch), class: 'btn btn-xs btn-info' do
                  = icon 'fa fa-info'
                  = t('giving.button.show')
                = link_to edit_batch_path(batch), class: 'btn btn-xs btn-info' do
                  = icon 'fa fa-pencil'
                  = t('giving.button.edit')
                = link_to batch, data: { method: 'delete', confirm: t('are_you_sure') }, class: 'btn btn-xs btn-danger' do
                  = icon 'fa fa-trash-o'
                  = t('giving.button.delete')
        %tr
          %td
            = link_to new_batch_path, class: 'btn btn-success' do
              = icon 'fa fa-plus-circle'
              = t('giving.button.add')
